#main {
    width: 1000px;
    margin: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
    padding: 4px 20px;
}
body {
    background-color: gray;
    margin: 0px;
    font-family: Verdana,sans-serif;
}
#container {
    background-color: rgb(238, 238, 238);

}

header {
    background-color: gray;
    color: white;
    padding: 12px 12px 2px 12px;
    border-bottom: 5px solid lightsteelblue;
}

footer {
    border-top: 2px solid lightsteelblue;
    text-align: center;
    padding: 5px 5px;
    color: white;
    font-size: 10px;
}

a {
  color: lightsteelblue;
  text-decoration: none;
}
a.inicio {
  text-align: left;
  font-size: 20px;
}

a.enlace {
  font-size: 14px;
  float: right;
}

.enlace {
  font-size: 14px;
  text-align: right;
}

.listaArticulos {
    padding:0px 20px;
}

.bloqueArticulo img {
    float: left;
    border: 1px solid;
    margin-right: 10px;
    width: 200px;
    height: 200px;
}

.bloqueArticulo {
    clear: both;
    list-style: none;
    margin-bottom: 10px;
    min-height: 200px;
}

.small {
    font-size: 10px;
}
