{# templates/sorteo/nuevoArticulo.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Nuevo Articulo{% endblock %}
{% block main %}
    <h1>Rellene los campos mostrados a continuación</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}